body {
  background-color: #f4f6f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card {
  border: none;
  background-color: white;
}

h2 {
  color: #007bff;
}

.btn {
  border-radius: 12px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}
